.eco-card {
  background: #e6fff2;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px #2ecc71;
}

.eco-title {
  color: #0f5132;
  text-align: center;
}

select, input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

.eco-msg {
  margin-top: 10px;
  color: #0f5132;
}
